Django==5.2.8
channels[daphne]==4.2.2
channels_redis==4.2.1
celery[redis]==5.5.3
cryptography==45.0.7
dj-database-url==3.0.1
gunicorn==23.0.0
icalendar==6.3.1
openpyxl==3.1.5
psycopg[binary]==3.2.10
requests==2.32.5
websocket-client==1.8.0
Pillow==11.3.0
pytesseract==0.3.13
whitenoise==6.8.2
xlrd==2.0.2
